header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: #DDDBCB;
    padding: 0vh .5vw 0vh .5vw;
}

body
{
    background-color: #F5F1E3;
}

h3
{
    margin-top: 1vh;
    padding: .5vh;
}

.setup
{
    display: none;
}

.start
{
    font-size:150%;
}

.titlePage
{
    text-align: center;
}

div
{
    align-items: center;
    justify-content: center;
}

button
{
    padding: 1vh .5vh 1vh .5vh;
    background-color: #1B9AAA;
    color: white;
    border: none;
    align-self: center;
}

div h1, #highscoretext
{
    font-size: 2rem;
    margin-bottom: 3vh;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4vh;
    text-align: center;
} 

div ol li
{
    border: 3px solid black;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}